# --- Mode selector ---
# Leave ONLY variables relevant to the chosen mode.

### All‑in‑one
#WG_HOST=vpn.example.com          # external address where this compose runs
#WG_JWT=LONG_RANDOM_TOKEN

### Remote‑API
WG_API_URL=http://77.221.145.27:3000
WG_JWT=LONG_RANDOM_TOKEN          # same token preset on VPN host


# === сеть WireGuard ===
WG_HOST=77.221.145.27
WG_PORT=49735
WG_JWT=LONG_RANDOM_TOKEN        # тот же в боте и в api

# === Telegram ===
BOT_TOKEN=7314028061:AAHJFBZN6vw6o52lvt3vDDJUij78EYVmgeY
ADMIN_ID=1715533439

# === Postgres (в docker-compose) ===
PG_USER=bot
PG_PASS=supersecret

DATABASE_URL=postgresql://bot:supersecret@postgres:5432/bot